<!DOCTYPE html>
<html lang="pl" ng-app='pierwszaApka'>
<head>
	<title>Przykład 1</title>
	<meta charset="utf-8">

	<!-- Bootstrap -->
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

	<!-- Angular -->
	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="js/app.js"></script>

	<style>
		.container {
			padding-top: 10px;
		}
	</style>
</head>
<body>
	<div class="container">
		<div ng-controller="ctrlNamed as ctrl">
			<div class="form-group">
				<input class="form-control" type="text" ng-model="ctrl.name"></input>
			</div>
			<p class="alert alert-info">Witaj {{ctrl.name}}</span></p>
		</div>

		<div ng-controller="ctrlAnon">
			<div class="form-group">
				<input class="form-control" type="text" ng-model="name" ng-model-options="{ updateOn: 'default blur' }"></input>
			</div>
			<p class="alert alert-info">Witaj {{name}}</p>
		</div>

		<p>
			Nothing here {{ 'yet' + '!' }}
		</p>
	</div>
</body>
</html>