<!DOCTYPE html>
<html lang="pl" ng-app='przykladDrugi'>
<head>
	<title>Przykład 2</title>
	<meta charset="utf-8">

	<!-- Bootstrap -->
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

	<!-- Angular -->
	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="js/app.js"></script>

	<style>
		.container {
			padding-top: 10px;
		}
	</style>
</head>
<body>
	<div class="container" ng-controller="SampleCtrl as ctrl">
		<div class="navbar-directive" title="{{ctrl.title}}" chosen-thing="ctrl.chosenThing" function-passed="ctrl.functionToPass()"></div>
		<div class="form-group">
			<select ng-model="ctrl.chosenThing">
				<option value="Home">Home</option>
				<option value="About">About</option>
				<option value="Contact">Contact</option>
			</select>
			<button ng-click="ctrl.changeFunction()">Zmień funkcję</button>
			<input type="text" ng-model="ctrl.title"></input>
		</div>
	</div>
</body>
</html>